@font-face {
    font-family: 'Roboto';
    src: url('Game-search/css/fonts/IBMPlexMono-Regular.ttf') format('woff2'),
         url('Game-search/css/fonts/IBMPlexMono-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto;
    background: #000;
    padding-top: 200px;
    padding-bottom: 40px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    
}

a{
    text-decoration: none;
}

a:visited{
    color: #FFF;
}

button {
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-family: Roboto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
  background-image: linear-gradient(to right, #FFF, #000);
}


.border{
    display: inline-block;
    border: 5px solid #FFF;
    border-radius: 10px;
    margin-left: 15px;
}


.border:hover{
  background-image: linear-gradient(to right, #0000D3, #47A3ff) !important;
  color: transparent !important;
  background-clip: text !important;
}

.border{text-decoration: none}
body.underline a{text-decoration: underline}


.a-button{
    color: #000;
}