@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');


body {
  font-family: "Geist Pixel";
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


h1 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  position: relative;
  top: 150px;
}

.links {
  display: flex;
  gap: 30px;
}

a {
  background-color: white;
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9px;
  transition: 0.1s;
  text-decoration: none;
}

a:hover {
  font-size: 17px;
}